.speakers {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0; /* Додано відступ зверху та знизу */
}

.speakers__title__container {
    width: 80%;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title__speakers {
    font-size: 42px;
    font-weight: 700;
    color: #2F2E33;
    display: flex;
    align-items: center;
}

.title__speakers::first-letter {
    color: #7929e3;
}

.accordion-icon {
    font-size: 0.7em;
    margin-left: 15px;
    color: #7929e3;
    transition: transform 0.3s ease;
}

.speakers__container {
    width: 80%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

.speakers__container.is-visible {
    max-height: 10000px; /* Збільшено ліміт для великих списків */
    opacity: 1;
    margin-top: 20px;
}

/* === ВИПРАВЛЕНО: Контейнери тепер мають min-height замість жорсткого height === */
.speakers__content__img {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center; /* Центрування тексту по вертикалі відносно фото */
    justify-content: flex-start;
    margin-bottom: 50px;
}

.speakers__content__txt {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center; /* Центрування тексту по вертикалі відносно фото */
    justify-content: flex-end;
    text-align: end;
    margin-bottom: 50px;
}

/* === ВИПРАВЛЕНО: Додано flex-shrink: 0, щоб фото не деформувалося текстом === */
.speakers__img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #7929e3;
    border-radius: 5px;
}

/* === ВИПРАВЛЕНО: Додано гнучкість для текстових блоків === */
.speakers__txt {
    margin-left: 30px; /* Збільшено відступ від фото */
    flex: 1;
    max-width: 800px;
}

.speakers__txt__end {
    margin-right: 30px; /* Збільшено відступ від фото */
    flex: 1;
    max-width: 800px;
}

.speakers__txt h3,
.speakers__txt__end h3,
.speakers__txt__adaptive h3 {
    font-size: 28px; /* Трохи збільшено */
    font-weight: 700;
    line-height: 1.2;
    color: #2F2E33;
    margin-bottom: 10px;
}

.speakers__txt h4,
.speakers__txt__end h4,
.speakers__txt__adaptive h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    background: linear-gradient(45deg, #7929e3 0%, #00b894 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #4b4b4b;
}

.speakers__txt__adaptive {
    display: none;
}

/* Шляхи зображень */
.speakers__img1{ background-image: url(../img/Didenko.jpeg); }
.speakers__img2{ background-image: url(../img/Zasoba_Evgen.png); }
.speakers__img3{ background-image: url(../img/Boichuk.png); }
.speakers__img4{ background-image: url(../img/Kytsmei.png); }
.speakers__img5{ background-image: url(../img/Horovyi.png); }
.speakers__img6{ background-image: url(../img/Panin.png); }
.speakers__img7{ background-image: url(../img/Krasniy.jpg); }
.speakers__img8{ background-image: url(../img/Iatsyshyn.jpg); }
.speakers__img9{ background-image: url(../img/Shamuratov.jpg); }
.speakers__img10{ background-image: url(../img/logo2.svg); }
.speakers__img11{ background-image: url(../img/Chyrka.jpg); }
.speakers__img12{ background-image: url(../img/Molchanovskyi.png); }
.speakers__img13{ background-image: url(../img/Moskalenko.png); }
.speakers__img14{ background-image: url(../img/Basystiuk1.jpg); }
.speakers__img15{ background-image: url(../img/Shakhovska.png); }
.speakers__img16{ background-image: url(../img/Melnykova.jpg); }

/* === АДАПТАЦІЯ ДЛЯ ПЛАНШЕТІВ ТА МОБІЛЬНИХ === */
@media screen and (max-width: 900px) {
    .speakers {
        min-height: auto;
        padding-bottom: 50px;
    }

    .speakers__title__container {
        width: 90%;
    }

    .speakers__container {
        width: 90%;
    }

    .speakers__container.is-visible {
        max-height: 15000px;
    }

    .speakers__content__img,
    .speakers__content__txt {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 40px;
        text-align: center; /* Центрування тексту на мобільних */
    }

    .speakers__img {
        width: 100%;
        max-width: 350px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin-bottom: 20px;
    }

    .speakers__txt,
    .speakers__txt__end {
        display: none; /* Ховаємо десктопні блоки */
    }

    .speakers__txt__adaptive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 350px;
        margin: 0;
    }

    .speakers__txt__adaptive h3 {
        font-size: 22px;
        text-align: center;
    }

    .speakers__txt__adaptive h4 {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .title__speakers {
        font-size: 32px;
    }

    .speakers__img,
    .speakers__txt__adaptive {
        max-width: 280px;
    }

    .speakers__txt__adaptive h3 {
        font-size: 20px;
    }

    .speakers__txt__adaptive h4 {
        font-size: 16px;
    }
}