.sponsors{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsors__container{
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponsors__img{
    width: 250px;
    height: 250px;
    background-size: cover;
}
.sponsors__img1{
    background-image: url(../img/brainstack.png);
}
.sponsors__img2{
    background-image: url(../img/n-ix.png);
}
.sponsors__img3{
    background-image: url(../img/nulp.png);
}
.sponsors__img4{
    width: 330px;
    background-image: url(../img/geekscode.png);
}
.sponsors__img5{
    background-image: url(../img/somatic_logo\ 1.png);
}
.sponsors__img6{
    background-image: url(../img/Webspellchecker.jpeg);
}
.sponsors__img7{
    background-image: url(../img/ai_house.jpg);
}
.sponsors__img8{
    background-image: url(../img/ucu.png);
}
.sponsors__img9{
    background-image: url(../img/brainstack.png);
}
.sponsors__img10{
    background-image: url(../img/soft-serve.jpeg);
}
.sponsors__img11{
    background-image: url(../img/epam.jpeg);
}
.sponsors__img12{
    background-image: url(../img/It-jim.png);
}
.sponsors__img13{
    background-image: url(../img/_Uklon.png);
}
.sponsors__img14{
    background-image: url(../img/LMR.png);
}
.slider-container .slick-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-container {
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.sponsors {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-container {
    width: 80%;
    max-width: 1000px; /* обмежуємо максимальну ширину */
    height: auto;
    padding: 20px 0;
    margin-top: 60px;
}
.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.sponsors__img {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .sponsors {
        height: auto;
        padding-bottom: 30px; /* Трохи відступу знизу, раз крапок немає */
    }

    /* Ховаємо крапки навігації */
    .slick-dots {
        display: none !important;
    }

    /* Якщо треба зменшити відступи, які були під крапки */
    .slider-container {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
